/* .container{
    
} */

.containter div{
    position: relative;
    padding: 5px;
    margin: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    color: #ffffff;
}


.containter div:nth-child(even) {
    background-color: rgba(19, 151, 118, 0.603);
    margin-left: 50%;
    margin-right: 10%;
    padding-left: 30px;

    border-radius: 25px;
}

.containter div:nth-child(odd) {
    background-color: rgba(28, 134, 175, 0.733);
    margin-right: 50%;
    margin-left: 10%;
    padding-right: 30px;

    border-radius: 25px;
}

.containter div:nth-child(even)::before {
    position: absolute;
    content: "hi";
    top: 50px;
    left: -20px;
    background-image: url("imagenab.jpg");
    background-size: cover;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.containter div:nth-child(odd)::after {
    position: absolute;
    content: "hi";
    top: 50px;
    right: -20px;
    background-image: url("imagenab.jpg");
    background-size: cover;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
}

body{
    background-image: url("background.jpg");
}