* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.calculator {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
}

input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  text-align: right;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  cursor: pointer;
  background-color: #f2f2f2;
  border: none;
  padding: 15px;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #ddd;
}